.wrapper{
    background-color: tomato;
    color: whitesmoke;
    padding: 20px;
}
.wrapper2{
    background-color: goldenrod;
    color: whitesmoke;
    padding: 20px;
    margin-top: 20px;
    margin-left: 50px;
    border: 10px solid skyblue;
    
}